name: deploy to lambda
on:
  # Trigger the workflow on push or pull request,
  # but only for the main branch
  push:
    branches:
      - main
jobs:

  deploy_source:
    name: deploy lambda from source
    runs-on: ubuntu-latest
    steps:
      - name: Echo secrets for logging
        run: |
          echo "This action is deploying to.."
          echo ${{ secrets.LAMBDA_FX }} 

      - name: checkout source code
        uses: actions/checkout@v1
        
      - name: default deploy
        uses: appleboy/lambda-action@master
        with:
          aws_access_key_id: ${{ secrets.AWS_KEY }}
          aws_secret_access_key: ${{ secrets.AWS_SECRET }}
          aws_region: ap-southeast-1
          function_name: ${{ secrets.LAMBDA_FX }}
